html, body, .page_post_it{
  height: 100%;
}

.page_post_it {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.two_postits_container{
  height: 33%;
  width: 100%;
}

.postit{
  width : 40%;
  height : 90%;
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
  word-wrap: break-word;
  position: relative;
}

.identifier {
  float: left;
  padding-top: 2%;
  padding-left: 2%;
  height : 10%;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;  
  width: 20%;
}

.tag {
  padding-top: 2%;
  width: 76%;
  display: inline-block;
  float: left;
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  font-size: 25px;
  width: 80%;
}

.description {
  display: inline-block;
}

.point{
  height : 10%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  bottom: 0px;
  position: absolute;
  float: left;
  width: 100%;
}

.postit_no_border{
  width : 42%;
  height : 32%;
  border: 1px solid rgb(18, 206, 18);
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.content_container{ 
  width : 90%;
  margin: auto;
  overflow:hidden;
  float: left;
}



@page {
  size: Letter; /* Change from the default size of A4 */
  margin: 0.5cm; /* Set margin on each page */
}

